body {
  font-family: sans-serif;
  text-align: center;
  padding: 2em;
}

.hidden {
  display: none;
}

#choices button,
.confidence-btn,
#start-btn {
  font-size: 1.2em;
  padding: 0.5em 1em;
  margin: 0.5em;
}

#genre-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  max-width: 600px;
  margin: auto;
}
.genre-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 1em;
}
